{% extends 'blog/base.html' %}

{% block content %}
    <div class="w-350 bg-green-100 m-2 p-4 rounded">
        <h1>Are you sure you want to delete "{{ post.title }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button class="font-medium p-2 bg-red-500 rounded text-white ml-3" type="submit">Yes, delete</button>
            <a class="font-medium p-2 bg-blue-500 rounded text-white ml-3" href="{% url 'post-detail' post.id %}">Cancel</a> 
        </form>
    </div>
{% endblock %}
