{% extends 'blog/base.html' %}

{% block content %}
    <div class="w-350 bg-green-100 m-2 p-4 rounded">
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <p class= "my-2">
                <a class="font-medium p-2 bg-green-500 rounded text-white mr-5" href="{% url 'edit-post' post.id %}">Edit Post</a>
                <a class="font-medium p-2 bg-red-500 rounded text-white mr-5" href="{% url 'delete-post' post.id %}">Delete Post</a>
            </p>
            {% endif %}
        {% endif %}
        <p class="text-3xl font-bold">{{ post.title }}</p>
        <small>By: {{ post.author }}</small>
        <p class="text-xl font-semibold">{{ post.content }}</p>
        <div>
            <h3 class="font-semibold">Comments</h3>
            {% if not post.comments.all %}
                <small>No comments.....<a href="">Be the first to comment</a></small> 
            {% else %}
                {% for comment in post.comments.all %}
                    <div class="rounded bg-green-50 w-fit p-1 mb-1">
                        <p><span class="font-semibold px-1">{{ comment.title }}</span>-{{ comment.created_at }}</p>
                        <span class="font-semibold px-3">{{ comment.body }}</span>
                    </div>
                {% endfor %}
            {% endif %}    
        </div>
    </div>
{% endblock %}